{% extends 'layout_produtos.html' %}

{% block content %}

<div class="grid-container">
  {% for compra in compras %}
  <div class="grid-item">

    <p>Id da compra: {{ compra.id_compra }}</p>
    <p>Comprador: {{ compra.comprador }}</p>
    <p>Valor: {{ compra.valor }}</p>
    <p>Produto comprado: {{ compra.produto }}</p>

    <a href="/minhas_compras/deletar/{{ compra.pk }}"> Deletar: {{ compra.id_compra }} ?</a>

  </div>
  {% endfor %}
</div>

{% csrf_token %}
{{ form.as_p }}

{% endblock %}
