{% extends 'layout_produtos.html' %}

{% block content %}

<div class="grid-container">
{% for rf in rfs %}

<div class="grid-item">
  {{ rf.nome }}
  </br>
  {{ rf.vencimento }}
  </br>
  {{ rf.classe }}
  </br>
  {{ rf.horario_limite }}
  </br>
  {{ rf.preco_unidade }}
</div>
{% endfor %}
</div>

{% if cadastro != None %}

  <div id="compra">
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <form action="" method="POST">

        {% csrf_token %}
        {{ form }}

        <input type="submit" name="Submit" class="button">

        </br>
        </br>
        <a href="/home">Voltar</a>
    </form>
  </div>

{% endif %}

{% endblock %}
